sudo: required
services:
  - docker

before_install:
  - docker build -t yannismarios/react-test -f ./client/Dockerfile.dev ./client/Dockerfile.dev

script:
  - docker run -e CI=true yannismarios/react-test npm test

after_success:
  - docker build -t yannismarios/mutli-client ./client
  - docker build -t yannismarios/mutli-nginx ./nginx
  - docker build -t yannismarios/multi-server ./server
  - docker build -t yannismarios/mutli-worker ./worker
  # Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Push to docker-hub
  - docker push yannismarios/mutli-client
  - docker push yannismarios/mutli-nginx
  - docker push yannismarios/multi-server
  - docker push yannismarios/mutli-worker
